<h1>Welcome, <%= username %> (Instructor)</h1>
<ul>
    <li>Add and Manage Classes</li>
    <li>Validate and Approve Projects</li>
    <li>Set Up and Manage Student Groups</li>
    <a href="/logout" class="btn">Logout</a>
</ul>
